* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body {
  background-color: #282a36;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ff79c6;
  padding: 1.5rem 2rem;
}

.logo {
  font-size: 1.5rem;
  display: inline-flex;
  position: relative;
}

.logo::before,
.logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo::before {
  background-color: #282a36;
  animation: typewriter 3s steps(33) 1s forwards;
}

.logo::after {
  width: 0.124em;
  background-color: #f8f8f2;
  animation: typewriter 3s steps(33) 1s forwards, blink 750ms steps(33) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-container {
  color: #f8f8f2;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.radio {
  display: flex;
  align-items: center;
}

.radio span {
  margin-left: 0.4rem;
  font-size: 1rem;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 2px;
  background-clip: content-box;
  border: 2px solid #44475a;
  background-color: #f8f8f2;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: #50fa7b;
}

.sentence-container {
  margin-top: 7rem;
  width: 70%;
  min-height: 1rem;
  background-color: #44475a;
  color: #f8f8f2;
  padding: 2rem 2.5rem;
  font-size: 1.5rem;
  margin-bottom: 5rem;
  position: relative;
}

.speed {
  position: absolute;
  top: -2rem;
  font-size: 1rem;
}

.accuracy {
  right: 2.5rem;
}

.highest {
  margin-left: 2rem;
}

.type-input {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  width: 30rem;
  border: 2px solid #44475a;
  outline: none;
  text-align: center;
  background: transparent;
  border-radius: 3px;
  color: #bd93f9;
}
